In [1]:
import pandas as pd

In [2]:
## Import my data set

df = pd.read_csv("https://raw.githubusercontent.com/skastenbaum/DataStory_Assignment/refs/heads/main/NewBuildingPermits_QueriedDOBData%20-%20DOBPermitsData.csv")
df.head(10)

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME
0,BROOKLYN,NB,YES,ISSUED,05/09/2025,East New York (Pennsylvania Ave)
1,BROOKLYN,NB,YES,ISSUED,05/09/2025,East New York (Pennsylvania Ave)
2,QUEENS,NB,YES,ISSUED,05/09/2025,Douglas Manor-Douglaston-Little Neck
3,BROOKLYN,NB,YES,ISSUED,05/09/2025,Park Slope-Gowanus
4,BROOKLYN,NB,YES,ISSUED,05/09/2025,Bath Beach
5,BRONX,NB,YES,ISSUED,05/09/2025,Norwood
6,QUEENS,NB,YES,ISSUED,05/08/2025,NaN
7,BROOKLYN,NB,YES,ISSUED,05/08/2025,East Flatbush-Farragut
8,BRONX,NB,YES,ISSUED,05/08/2025,Bronxdale
9,BROOKLYN,NB,YES,ISSUED,05/08/2025,East Williamsburg

In [3]:
## I re-ran this cell after converting the Issuance Date column from an object to datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7896 entries, 0 to 7895
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BOROUGH        7895 non-null   object
 1   Job Type       7892 non-null   object
 2   Residential    7892 non-null   object
 3   Permit Status  7892 non-null   object
 4   Issuance Date  7892 non-null   object
 5   NTA_NAME       7742 non-null   object
dtypes: object(6)
memory usage: 370.3+ KB

In [4]:
## I re-ran this cell after converting the Issuance Date column from an object to datetime
df.dtypes

BOROUGH          object
Job Type         object
Residential      object
Permit Status    object
Issuance Date    object
NTA_NAME         object
dtype: object

In [5]:
## converting date column to datetime
df['Issuance Date'] = pd.to_datetime(df['Issuance Date'])

In [6]:
## Create Year Column
df['Year'] = df["Issuance Date"].dt.year

In [7]:
df.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME,Year
0,BROOKLYN,NB,YES,ISSUED,2025-05-09,East New York (Pennsylvania Ave),2025.0
1,BROOKLYN,NB,YES,ISSUED,2025-05-09,East New York (Pennsylvania Ave),2025.0
2,QUEENS,NB,YES,ISSUED,2025-05-09,Douglas Manor-Douglaston-Little Neck,2025.0
3,BROOKLYN,NB,YES,ISSUED,2025-05-09,Park Slope-Gowanus,2025.0
4,BROOKLYN,NB,YES,ISSUED,2025-05-09,Bath Beach,2025.0

In [8]:
## make new column for quarters
df['quarter'] = df['Issuance Date'].dt.quarter

In [9]:
## Filter to Q1
q1_permits = df.query('quarter == 1.0')

In [10]:
q1_permits.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME,Year,quarter
197,BROOKLYN,NB,YES,ISSUED,2025-03-31,North Side-South Side,2025.0,1.0
198,BROOKLYN,NB,YES,ISSUED,2025-03-31,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,2025.0,1.0
199,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0
200,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0
201,QUEENS,NB,YES,ISSUED,2025-03-31,Elmhurst-Maspeth,2025.0,1.0

In [11]:
## count 1st quarter permits by year
q1_permits['Year'].value_counts()

Year
2023.0    1292
2024.0     767
2025.0     581
Name: count, dtype: int64

# I'm doing some further analysis. I'm not sure if I will have time to build charts or add it to my story. I wanted to give this a try, though.
- First, I want to get to the boroughs' count for Q! 2025

In [12]:
## Convert to datetime
df['Filing Date'] = pd.to_datetime(df['Issuance Date'])

In [13]:
## Filter for Q1 2025

q1_2025 = df[(df['Filing Date'].dt.year == 2025) & (df['Filing Date'].dt.quarter == 1)]

In [14]:
## Count permits per borough

borough_counts_2025 = q1_2025['BOROUGH'].value_counts()

In [15]:
## Display the borough with the most permits

top_borough_2025 = borough_counts_2025.idxmax()
most_permits_2025 = borough_counts_2025.max()

In [16]:
## write in sentence form which borough had the most permits issued during Q1 2025

print(f"The borough with the most permits in Q1 2025 is {top_borough_2025} with {most_permits_2025} permits.")

The borough with the most permits in Q1 2025 is BROOKLYN with 237 permits.

In [18]:
## Show total count of permits for each borough Q! 2025
print("Permit counts by borough in Q1 2025:")
for borough, count in borough_counts_2025.items():
    print(f" - {borough}: {count}")

Permit counts by borough in Q1 2025:
 - BROOKLYN: 237
 - QUEENS: 152
 - BRONX: 92
 - STATEN ISLAND: 57
 - MANHATTAN: 43

# I wanted these results to look like a markdown

In [19]:
## Converting the Series to a DataFrame
borough_df_2025 = borough_counts_2025.reset_index()

In [20]:
## Renaming the columns for clarity
borough_df_2025.columns = ['Borough', 'Permit Count']

In [21]:
## Display
borough_df_2025.head()

         Borough  Permit Count
0       BROOKLYN           237
1         QUEENS           152
2          BRONX            92
3  STATEN ISLAND            57
4      MANHATTAN            43

# AWESOME! Now let's figure out how to compare the boroughs Q1 year over year

In [22]:
## Filtering the Q1 data for all four years
q1_all_years = df[
    (df['Filing Date'].dt.quarter == 1) &
    (df['Filing Date'].dt.year.isin([2022, 2023, 2024, 2025]))
]

In [23]:
q1_all_years.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME,Year,quarter,Filing Date
197,BROOKLYN,NB,YES,ISSUED,2025-03-31,North Side-South Side,2025.0,1.0,2025-03-31
198,BROOKLYN,NB,YES,ISSUED,2025-03-31,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,2025.0,1.0,2025-03-31
199,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0,2025-03-31
200,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0,2025-03-31
201,QUEENS,NB,YES,ISSUED,2025-03-31,Elmhurst-Maspeth,2025.0,1.0,2025-03-31

In [26]:
## Group the results by the Year and Borough and count permits
permit_counts = q1_all_years.groupby(['Year', 'BOROUGH']).size().unstack().fillna(0).astype(int)

In [27]:
## pring permit counts
permit_counts.head()

BOROUGH  BRONX  BROOKLYN  MANHATTAN  QUEENS  STATEN ISLAND
Year
2023       180       515        122     351            124
2024       117       275         81     200             94
2025        92       237         43     152             57

In [28]:
## 2022 is missing, so I ran this to see if 2022 is in the data
print(df['Filing Date'].dt.year.unique())

[2025. 2024. 2023.   nan]

# Something is wrong. I got this far and realized that 2022 data isn't there. I'll try to correct for it.

In [29]:
## Reloading the CSV
df = pd.read_csv("NewBuildingPermits_QueriedDOBData - DOBPermitsData.csv")

In [31]:
## take a look at it
print(df['Issuance Date'].head())

0    05/09/2025
1    05/09/2025
2    05/09/2025
3    05/09/2025
4    05/09/2025
Name: Issuance Date, dtype: object

In [33]:
## I found this code that supposedly assures proper datetime conversion

df['Filing Date'] = pd.to_datetime(df['Issuance Date'], errors='coerce')

In [35]:
## converting date column from an object to datetime
df['Issuance Date'] = pd.to_datetime(df['Issuance Date'])

In [36]:
## Checking for all of the years 
print("Years in data:", df['Issuance Date'].dt.year.dropna().unique())

Years in data: [2025. 2024. 2023.]

# There's the explanation. For whatever reason, when I downloaded the data from the Google sheet I initially worked in, for some reason, the 2022 data was missing.
_ I figured out what I did. As I was filtering, I accidentally left out 2022
- Because I am running short on time, I am not going to start the entire process over. from this point on, I will do the comparative analysis from Q1 of 2023, 2024 and 2025
- A reminder, you can find the Google Sheet here: https://docs.google.com/spreadsheets/d/181r2cKvyfTSnSkNEjgTCldFAaiQujucuF5sNp9f6f5I/edit?usp=sharing

# I am adding a few lines to the story text based on the additional data analysis showing that Brooklyn led the five broughs for new developments Q1 3 years in a row