In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/skastenbaum/DataStory_Assignment/refs/heads/main/NewBuildingPermits_QueriedDOBData%20-%20DOBPermitsData.csv")
df.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME
0,BROOKLYN,NB,YES,ISSUED,05/09/2025,East New York (Pennsylvania Ave)
1,BROOKLYN,NB,YES,ISSUED,05/09/2025,East New York (Pennsylvania Ave)
2,QUEENS,NB,YES,ISSUED,05/09/2025,Douglas Manor-Douglaston-Little Neck
3,BROOKLYN,NB,YES,ISSUED,05/09/2025,Park Slope-Gowanus
4,BROOKLYN,NB,YES,ISSUED,05/09/2025,Bath Beach

In [21]:
## I re-ran this cell after converting the Issuance Date column from an object to datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7896 entries, 0 to 7895
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BOROUGH        7895 non-null   object
 1   Job Type       7892 non-null   object
 2   Residential    7892 non-null   object
 3   Permit Status  7892 non-null   object
 4   Issuance Date  7892 non-null   datetime64[ns]
 5   NTA_NAME       7742 non-null   object
 6   Year           7892 non-null   float64
 7   quarter        7892 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 493.6+ KB

In [7]:
I re-ran this cell after converting the Issuance Date column from an object to datetime
df.dtypes

BOROUGH                  object
Job Type                 object
Residential              object
Permit Status            object
Issuance Date    datetime64[ns]
NTA_NAME                 object
dtype: object

In [6]:
## converting date column to datetime
df['Issuance Date'] = pd.to_datetime(df['Issuance Date'])

In [8]:
## Create Year Column
df['Year'] = df["Issuance Date"].dt.year

In [12]:
df.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME,Year,quarter
0,BROOKLYN,NB,YES,ISSUED,2025-05-09,East New York (Pennsylvania Ave),2025.0,2.0
1,BROOKLYN,NB,YES,ISSUED,2025-05-09,East New York (Pennsylvania Ave),2025.0,2.0
2,QUEENS,NB,YES,ISSUED,2025-05-09,Douglas Manor-Douglaston-Little Neck,2025.0,2.0
3,BROOKLYN,NB,YES,ISSUED,2025-05-09,Park Slope-Gowanus,2025.0,2.0
4,BROOKLYN,NB,YES,ISSUED,2025-05-09,Bath Beach,2025.0,2.0

In [11]:
## make new column for quarters
df['quarter'] = df['Issuance Date'].dt.quarter

In [15]:
## Filter to Q1
q1_permits = df.query('quarter == 1.0')

In [16]:
q1_permits.head()

,BOROUGH,Job Type,Residential,Permit Status,Issuance Date,NTA_NAME,Year,quarter
197,BROOKLYN,NB,YES,ISSUED,2025-03-31,North Side-South Side,2025.0,1.0
198,BROOKLYN,NB,YES,ISSUED,2025-03-31,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,2025.0,1.0
199,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0
200,BROOKLYN,NB,YES,ISSUED,2025-03-31,Bedford,2025.0,1.0
201,QUEENS,NB,YES,ISSUED,2025-03-31,Elmhurst-Maspeth,2025.0,1.0

In [19]:
## count 1st quarter permits by year
q1_permits['Year'].value_counts()

Year
2023.0    1292
2024.0     767
2025.0     581
Name: count, dtype: int64